*.7z
*.aux
*.bz2
*.gz
*.lock
*.log
*.out
*.pid
*.swp
*.tar
*.tmp
*~
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.DocumentRevisions-V100
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
._*
._.DS_Store
.idea
.vimsession~
.vscode
Icon
Network Trash Folder
Temporary Items
coverage
lib-cov
logs
node_modules
npm-debug.log*
pids
x/
.nyc_output
